p.redred{
    color:darkolivegreen;
    font-size: 40px;
    text-align: center;
   text-indent: 2em;
   letter-spacing: 0.8px;
   line-height: 1.5em;
   border: 15px solid    rgb(70, 53, 41) ;
   background-color: antiquewhite;
   
}

.blueblue{
    color: rgb(143, 60, 158);
}

p{
    color: rgb(16, 69, 123);
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Serif TC',sans-serif;
}

.expedu_icon {
    color: blue;
}

.expedu_icon:hover{
   background-color: brown;
    color: white;
}   

.bg-primary{
    background-color: rgb(92, 92, 92) !important;
    background-image: url(../assets/img/001.jpg);
    
}

table.table01{
    width: 80%;
    color: white;
    text-align: center;
}
table.table01 th{
    text-align: center;
    color: white;
    background-color: gray  ;
    border: 5px solid  rgb(88, 4, 4) ;
}
table.table01 td{
    text-align: center;
    border: 5px solid   rgb(88, 4, 4) ;
}

table.table01 tr:nth-child(even) {
    background-color: rgb(72, 97, 25);
}

table.table01 tr:nth-child(odd) {
    background-color: rgb(182, 10, 10);
}   
