p.redred{
    color:darkolivegreen;
    font-size: 40px;
    text-align: center;
   text-indent: 2em;
}

.blueblue{
    color: blue;
}

p{
    color: rgb(11, 44, 77);
    letter-spacing: 0.8px;
    line-height: 1.5em;
}